.galaxy {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* background: radial-gradient( #06012c,#000); */
  /* background: #000200; */
  display: flex;
  justify-content: center;
  align-items: center;
  background:  url(../image/GalaxyTheme/GalaxyBackground.jpg)  repeat center ;
  background-size: cover;
  animation:
    galaxyrotate 16s linear infinite;
}
.galaxy .star {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  perspective: 1500px;
  animation: animate 8s ease-in-out infinite,
    backgroundrotate 16s linear infinite;

}
.galaxy .star.star1 {
  animation-delay: 0s;
  background: url(../image/GalaxyTheme/star1.png);
}
.galaxy .star.star2 {
  animation-delay: -1s;
  background: url(../image/GalaxyTheme/star2.png);
}
.galaxy .star.star3 {
  animation-delay: -2s;
  background: url(../image/GalaxyTheme/star3.png);
}
.galaxy .star.star4 {
  animation-delay: -3s;
  background: url(../image/GalaxyTheme/star4.png);
}
.galaxy .star.star5 {
  animation-delay: -4s;
  background: url(../image/GalaxyTheme/star5.png);
}
.galaxy .star.star6 {
  animation-delay: -5s;
  background: url(../image/GalaxyTheme/star6.png);
}
.galaxy .star.star7 {
  animation-delay: -6s;
  background: url(../image/GalaxyTheme/star7.png);
}
.galaxy .star.star8 {
  animation-delay: -7s;
  background: url(../image/GalaxyTheme/star8.png);
}

@keyframes animate {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    opacity: 0;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    opacity: 1;
  }
}
@keyframes backgroundrotate {
  0%{
    transform:scale(1) translateX(-500px)  rotate(30deg);
}
100%{
  transform:scale(1.5) translateX(0px)  rotate(0deg);
}
}

