*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body {
    width: 100%;
    background-color: rgba(243, 242, 242, 0.486);
}
/* footer */
footer {
    position: relative;
    top:69px;
    bottom: 5px;
    padding: 40px 0 40px;
    background-color: #333130;
  }
  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 5fr;
    gap: 20px;
    /* grid-template:
      "footer-logo footer-about footer-social footer-supporter end" auto
      / 1fr 1fr 1fr
  ; */
  }
  .footer-logo {
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: right;
  }
  .footer-logo img {
    width: 70px;
    height: 70px;
    margin-left: 19%;
    padding: 20px 2.5% 1px 1.5%;
    border-radius: 30px;
  }
  .footer-logo .logo-name {
    width: 110px;
    color: #ecf324;
    font-size: 1.5em;
    padding-top: 20px;
  }
  .footer-about {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .footer-about * {
    display: block;
    padding: 10px 5%;
  }
  .footer-about a{
      text-decoration: none;
  }

  .footer-social {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 20px;
  }
  .footer-social i {
    padding: 10px 5%;
  }
  .footer-social h1 {
    padding: 10px 5%;
  }
  /* .fab:hover{
     content: "fa-3x";
  } */
  .footer-supporter {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .footer-supporter * {
    padding: 10px;
  }
  .footer-supporter b {
    font-size: 1.2em;
    font-weight: 550;
    margin-left: -10px;
  }
  .footer-end {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: -35px;
  }
  .footer-end p {
    text-align: center;
    vertical-align: bottom;
  }
  .line-end {
    border: 1px solid #fff;
    border-radius: 2px;
  }
  footer h1:not(.footer-social) {
    margin-top: 15px;
    font-size: 1.5em;
    font-weight: 600;
  }
  footer * {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }