/*-----------------------------------------------------------------------------------*/

/*--------------------------------------------------------------*/
/*  1. Set Default CSS
/*-------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    width: 100%;
    background: #f8f8f8ad;
}

img {
  max-width: 100%;
  height: auto
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-family: 'Noto Sans', sans-serif;
    color: #454546;
    font-weight: 700;
}
a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
a:focus {
  outline: 0px solid
}
a:hover {
  color: #ec4445;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0 none;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: medium none;
  outline-offset: -2px;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0
}
/*-------------------
  2. Header-area
-------------------*/
/*--------------------------------------------------------------*/
/*  2.1.  header-top-area
/*-------------------------------------------------------------*/


.header-top-area img{
  width: 100%;
}
/*--------------------------------------------------------------*/
/*  2.2.  header-main-area
/*-------------------------------------------------------------*/
.header-main-area{
  width: 100%;
  border: 3px solid;
  border-image:
  linear-gradient(
    to bottom,
    rgb(246, 135, 7),
    #C5F7F1,
    #3958CB
  ) 1;
  background: #fdfdfdf3;

}
/*--------------------------------------------------------------*/
/*  2.2.1  header-main-start
/*-------------------------------------------------------------*/

.header-main-start {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
}
.header-main-start>div{
  margin-top: 15px;
}
.header-main-start .logo{
  margin-left: 25%;
  max-height: 70px;
  max-width: 100px;
  grid-column: 1/2;
}
.header-main-start .logo>img{
  max-width: 100px;
  max-height: 70px;
  border: 1px solid #000;
}
.header-main-start .product-menu{
  grid-column: 2/3;
}
.header-main-start .search-bar{
  grid-column: 3/ span 4;
}
.header-main-start .account{
  grid-column: 7/8;
}
.header-main-start .cart{
  grid-column: 8/9;
}







/*--------------------------------------------------------------*/
/*  55.  footer
/*-------------------------------------------------------------*/

footer {
    position: relative;
    left: 0px;
    bottom: -50%;
    width: 100%;
    background-color: #161623;
  }
  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 5fr;
    gap: 20px;
    /* grid-template:
      "footer-logo footer-about footer-social footer-supporter end" auto
      / 1fr 1fr 1fr
  ; */
  }
  .footer-logo {
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: right;
  }
  .footer-logo img {
    width: 70px;
    height: 70px;
    margin-left: 19%;
    padding: 20px 2.5% 1px 1.5%;
    border-radius: 30px;
  }
  .footer-logo .logo-name {
    width: 110px;
    color: #ecf324;
    font-size: 1.5em;
    padding-top: 20px;
  }
  .footer-about {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .footer-about * {
    display: block;
    padding: 10px 5%;
  }
  .footer-about a{
      text-decoration: none;
  }

  .footer-social {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 20px;
  }
  .footer-social i {
    padding: 10px 5%;
  }
  .footer-social h1 {
    padding: 10px 5%;
  }
  /* .fab:hover{
     content: "fa-3x";
  } */
  .footer-supporter {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .footer-supporter * {
    padding: 10px;
  }
  .footer-supporter b {
    font-size: 1.2em;
    font-weight: 550;
    margin-left: -10px;
  }
  .footer-end {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .footer-end p {
    text-align: center;
    vertical-align: bottom;
  }
  .line-end {
    border: 1px solid #fff;
    border-radius: 2px;
  }
  footer h1:not(.footer-social) {
    margin-top: 15px;
    font-size: 1.5em;
    font-weight: 600;
  }
  footer * {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }